@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: "Poppins";
}

body {
    background-image: url("https://random.imagecdn.app/1920/1080");
}

#card {
    height: 500px;
    width: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px 0px 16px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
}
#quote {
    font-size: 20px;
    padding: 22px 22px;
}

#quote-btn {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 5px 5px;
    border-radius: 16px 0px 16px 0px;
}

#quote-btn:hover {
    transition: 300ms ease-in-out;
    color: black;
    background-color: white;
    border-radius: 16px;

    font-size: 18px;
}

#quote2 {
    position: absolute;
    left: 10px;
    top: 5px;
}

#quote1 {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

@media screen and (max-width: 800px) {
    #card {
        height: 300px;
        width: 300px;
        font-size: larger;
    }   
    }